################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Northwind/v15/.suo
/Northwind/obj/Debug
