################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Northwind/v15/.suo
/Northwind/obj/Debug
/Northwind/bin
/Northwind/obj
/Northwind.1.0/bin
/Northwind.1.0/obj
/Northwind.1.1/bin
/Northwind.1.1/obj
/Northwind.1.3/bin
/Northwind.1.3/obj